.body
{
	background-color: white;
}
p{
	padding: 12px;
	font-family: cursive;
}
#aa
{
	font-family: bold;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
	border:none;
	position: relative;
}

.section 
{
	text-align:right;
	
	margin-bottom: 2px;
	width: 100%;
}
.blank{
	width: 71%;
	clear:both;
	float: left;

}
.heading
{
	width: 28%;
	border:1px solid black;
	padding: 9px;
	float: right;
	clear:both;
}

#c
{
	background-color: #d59898;
	padding-right: 29px;
	font-family: Times New Roman;
}
#b
{
	background-color: #c14543;
	color: white;
	padding-right: 29px;
	font-family: Times New Roman;
}
#s
{
	background-color: #e5d198;
	padding-right: 29px;
	font-family:Times New Roman;
}
.type
{
	clear:both;
	
}
.col-md-4
{
	border: 1px solid black;
}
.row
{
	width:100%;
}
@media(min-width: 992px){
	.col-lg-1,.col-lg-2,
.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8
,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
	float: left;
	border: 1px solid black;
}
.col-lg-4{
	width:31%;

    margin: 13px;
	background-color: #999999;
}
}

@media(min-width: 768px)and (max-width: 991px)
{.col-md-1,.col-md-2,.col-md-3,.col-md-4,
	.col-md-5,.col-md-6,.col-md-7,.col-md-8,
.col-md-9,.col-md-10,.col-md-11,.col-md-12{
	
	border: 1px solid black;
}
.col-md-6{
	width:45%;
	
	background-color: #999999;

    margin: 13px;
	}
}
@media(max-width: 767px)
{.col-sm-12
	{
		float: left;
	border: 1px solid black;

    
}
.col-sm-12{
	width:95%;
	background-color: #999999;
	margin: 13px;
	}
	}